<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center">Data Diri Mahasiswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  <ion-card color="medium" class="custom-card">
    <ion-card-header>
      <ion-item lines="none" color="transparent">
        <ion-avatar slot="start">
          <img alt="Avatar Mahasiswa" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-card-title class="ion-text-capitalize" color="light">Aura Devany Salsabila Bachtiar</ion-card-title>
      </ion-item>
      <ion-card-subtitle class="ion-text-center" color="light">NIM: H1D022015</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <p color="light">Mahasiswa Informatika, Universitas Jenderal Soedirman</p>
      <div class="icon-container">
        <ion-icon name="school-outline" size="large" color="primary" class="icon-animation"></ion-icon>
        <ion-icon name="mail-outline" size="large" color="secondary"
          class="icon-animation ion-margin-horizontal"></ion-icon>
        <ion-icon name="call-outline" size="large" color="tertiary" class="icon-animation"></ion-icon>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title class="ion-text-center" color="light">&copy; 2024 Universitas Jenderal Soedirman</ion-title>
  </ion-toolbar>
</ion-footer>